/* Works.module.css */
.container {
  background: #131313;
  padding: 100px 24px;
  display: flex;
  flex-direction: column;
}

.service_top_side {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 40px;
}

.title {
  color: #faf8f7;
  font-size: 4rem;
  font-weight: bolder;
}

.subtitle {
  color: #faf8f780;
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: -.02em;
  text-align: center;
}

.service_bottom_side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 2rem;
}

.card {
  will-change: transform;
  background-color: #191919;
  border-radius: 1.5rem;
  padding: 40px;
  width: 100%;

  transition:
    background-color 0.4s ease-in-out,
    transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.4s ease;
}

.card:hover {
  cursor: pointer;
  background-color: #faf8f7;

  transform: scale(1.03) translateY(-6px);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.15),
    0 0 0 1px rgba(0, 0, 0, 0.05);
}

.card_title,
.card_description,
.card_tag {
  transition: color 0.25s ease, background-color 0.25s ease;
}

.card_button {
  transition: background-color 0.25s ease, color 0.25s ease;
}

.card_title {
  font-size: 2rem;
  font-weight: bold;
  color: #faf8f7;
}

.card:hover .card_title {
  color: #191919;
}

.card_description {
  color: #a1a1aa;
  font-size: 1.125rem;
}

.card:hover .card_description {
  color: #444;
}

.card_tags {
  display: flex;
  gap: 12px;
  padding-top: 8px;
}

.card_tag {
  padding: 8px 16px;
  border-radius: 9999px;
  background-color: #343434;
  color: #faf8f7;
  font-size: 1rem;
  font-weight: 500;
}

.card:hover .card_tag {
  color: #191919;
  background-color: #d8ccb5;
}

.card_button {
  margin-top: 24px;
  padding: 12px 24px;
  border-radius: 9999px;
  background: #faf8f7;
  color: black;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.card:hover .card_button {
  background-color: #191919;
  color: #faf8f7;
}

/* CTA */
.cta {
  position: relative;
  border: none;
  background-color: #de0015;
  height: 50px;
  padding: 0 0.5rem;
  margin-top: 2rem;
  border-radius: 9999px;
  cursor: pointer;
}

.label {
  position: relative;
  color: white;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 0 0.7rem;
  z-index: 10;
}

.bg {
  position: absolute;
  inset: 0;
  background: #de0015;
  border-radius: inherit;
  z-index: 0;
}

/* MOBILE */
@media (max-width: 1024px) {
  .service_bottom_side {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 1.5rem 0;
  }

  .card {
    width: 100%;
    padding: 24px;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }

  .subtitle {
    font-size: 1.1rem;
    text-align: center;
  }
}